.container {
    max-width: auto;
    margin: 60px auto;
    padding-left: 100px;
}

#left {
    display: block;
    float: left;
    padding: auto;
}

#left > h3{
    padding-bottom: 8px;
}

#left > h1 {
    padding-bottom: 25px;
}

#left > p{
    padding-bottom: 8px;
}

#right {
    display: block;
    float: right;
    padding-left: auto;
}

h1 {
    font-family: 'Benne', serif;
}

#contact-info {
    background-color: #f1eee8;
    width: 100%;
    height: auto;
    padding: 100px 20px;
}

#map {
    height: 300px; 
    width: 100%; 
    padding: 0px; 
    border-width: 0px; 
    margin: 0px; 
    left: 0px; 
    top: 0px; 
    touch-action: pan-x pan-y;
}

.info-text {
    font-family: inherit;
    font-size: 20px;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: 0;
    outline: 0;
    color: #888473;
    font-family: 'Benne', serif;
    text-align: center;
}

h5 {
    text-align: center;
    color: #343332;
    font-family: 'Benne', serif;
    font-size: 1.4em;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
}


@media (max-width: 500px) { 
    .info-img-2 {
        width: 100%;
        height: 100%;
    }
    .info-img-1 {
        width: 100%;
        height: 25%;
    }
    h3 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    p {
        font-size: 13px;
    }
    .info-text{
        font-size: 13px;
    }
    h5 {
        font-size: 20px;
    }
}

@media (min-width:500px) and (max-width: 800px) { 
    .info-img-2 {
        width: 100%;
        height: 60%;
    }
    .info-img-1 {
        width: 100%;
        height: 25%;
    }
    h3 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    p {
        font-size: 13px;
    }
}

@media (min-width:800px) and (max-width: 1200px) { 
    #right {
        display: block;
        float: right;
        padding-left: 80px;
    }
}


