#error {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 100px 0;
}

.error {
    color: #b7b095;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
