.menu-block {
    background-color: #e7e4d5;
    opacity: 0.8;
    width: 100%;
    height: 0px;
    text-align: center;
    font-size: 50px;
    font-family: 'Benne', serif;
    padding: 200px 0 120px;
}
