.thanks-page{
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 200px 0 120px;
}

.thanks-img {
    display: inline;
    height: 400px;
}

.thanks-title {
    display: inline;
    color: #b7b095;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    padding-left: 20px;
}

@media (min-width:100px) and (max-width: 1200px) {
    .thanks-img {
        height: 250px;
    }
}    