.menu {
    &__item {
        margin: auto;
        width: 40%;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256,256,256,.1);
        border-radius: 8px;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
        list-style: none;
    }
    &__title {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Benne', serif;
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }
    &__category {
        font-size: 22px;
        font-weight: 300;
        font-family: 'Dancing Script', cursive;
        color: #b7b095;
        margin-bottom: 20px;
    }
    &__prbtn {
        width: 100%;
        margin: auto;
    }
    &__price {
        display: inline-block;  
        font-size: 20px;
        font-weight: 800;
        font-family: 'Roboto Slab', serif;
        padding-right: 200px;
    }
    &__btn {
        display: inline-block;
        width: 80px;
        height: 40px;
        border: none;
        background-color: rgba(0,0,0, .8);
        border-radius: 1000px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
}

@media (min-width: 80px) and (max-width: 1000px) { 
    .menu{
        &__item {
            width: 100%;
        }
    }
}

@media (min-width: 410px) and (max-width: 800px) { 
    .menu{
        &__item {
            width: 100%;
        }
        &__price { 
            font-size: 15px;
            padding-right: 30px;
        }
    }
}

@media (min-width: 250px) and (max-width: 410px) { 
    .menu{
        &__item {
            width: 100%;
        }
        &__price { 
            font-size: 15px;
            padding-right: 50px;
        }
        &__btn {
            width: 50px;
            height: 30px;
            font-size: 10px;
        }
    }
}
