.header {
    background-color: rgba(0,0,0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 150px;
}

#logo {
    display: block;
    float: left;
}

.nav {
    display: block;
    float: right;
    padding: 3%;
    max-height: 100%;

    &__link {
        display: inline;
        margin-right: 40px;
        font-size: 20px;
        color: #b7b095;
        text-decoration: none;
        font-weight: 900;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0px;
        font-family: 'Roboto Slab', serif;
    }
    &__cart {
        width: 28px;
        margin-right: 4px;
        margin-bottom: 8px;
    }
}

.nav__link:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 500px) { 
    #logo img {
        width: 110px;
        height: 60px;
    }

    .nav {  
        &__link {
            font-size: 10px;
        }
        &__cart {
            width: 18px;
        }
    }
}

@media (min-width:500px) and (max-width: 800px) { 
    .info-img-2 {
        width: 100%;
        height: 60%;
    }
    .info-img-1 {
        width: 100%;
        height: 25%;
    }
    h3 {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    p {
        font-size: 13px;
    }
}

@media (min-width:800px) and (max-width: 1200px) { 
    #right {
        display: block;
        float: right;
        padding-left: 80px;
    }
}


